.container {
    display: grid;
    height: calc(100vh - 16px);
    padding: 3px;
    gap: 8px;
    box-sizing: border-box;
    background-color: blueviolet;
    border: 1px solid black;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "header header"
        "nav main"
        "ads main"
        "footer footer";
}

.container > header { /* ">" filho imediato*/
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.container > nav {
    grid-area: nav;
    background-color: lightgreen;
    padding: 20px;
}

.container > main {
    grid-area: main;
    background-color: lightseagreen;
    padding: 20px;
}

.container > aside {
    grid-area: ads;
    background-color: lightyellow;
    padding: 20px;
}

.container > footer {
    grid-area: footer;
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}