.box {
    background-color: lightgray;
    width: 370px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 30px;
    border: 10px solid black;

}

.box p {
    color: brown;
    padding-left: 40px;
    padding-right: 40px;
}
