<div class='container mt-4'>
  <h1 class='mb-3'>Bem-vindo ao Sistema de Gerenciamento de Produtos</h1>
  <p>Essa é a página inicial da aplicação.</p>
  <div class='mt-4'>
    <a class='btn btn-primary' href='/sobre'>Sobre</a>
  </div>
</div>