<div class='container mt-4'>
  <h1 class='mb-3'>Sobre</h1>
  <p>
    Este é um projeto de exemplo para demonstrar o uso do Express com TypeScript
    e Handlebars.
  </p>
  <p>
    Aqui você pode gerenciar produtos e gerar texto Lorem Ipsum.
  </p>
</div>